@font-face {
    font-family: 'Microsoft Sans Serif';
    src:
        url('fonts/microsoftsansserit.woff2') format('woff2'),
        url('fonts/microsoftsansserit.woff') format('woff'),
        url('fonts/microsoftsansserit.tif') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src:
        url('fonts/Roboto.woff2') format('woff2'),
        url('fonts/Roboto.woff') format('woff'),
        url('fonts/Roboto.tif') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src:
        url('fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('fonts/RobotoCondensed-Regular.woff') format('woff'),
        url('fonts/RobotoCondensed-Regular.tif') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src:
        url('fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('fonts/RobotoCondensed-Bold.woff') format('woff'),
        url('fonts/RobotoCondensed-Bold.tif') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Condensed';
    src:
        url('fonts/UbuntuCondensed-Regular.woff2') format('woff2'),
        url('fonts/UbuntuCondensed-Regular.woff') format('woff'),
        url('fonts/UbuntuCondensed-Regular.tif') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.card-dynamic {
    .text-white {color: #fff;}
    .text-red {color: #EC483E;}
    .text-blue {color: #1387F6;}
    .text-green {color: #20AC37;}
    .text-gray-1 {color: #B0BEAF;}
    .text-gray-2 {color: #6B776D;}
    .text-gray-3 {color: #A9A9A9;}
    .text-gray-4 {color: #707072;}
    .text-gray-5 {color: #B9B9BB;}
    .text-gray-6 {color: #474749;}
    .text-gray-7 {color: #949494;}
    .text-gray-8 {color: #4F4E53;}
    .bg-header-1 {background-color: #002201;}
    .bg-header-2 {background-color: #101010;}
    .bg-header-3 {background-color: #F1F1F1;}

    &.card-1,
    &.card-2 {
        background-color: #1C1C1E;
    }

    &.card-3,
    &.card-4 {
        background-color: #F8F8F8;
    }

    display: flex;
    flex-direction: column;
    width: 1142px;
    height: 564px;
    border-radius: 20px;
    overflow: hidden;

    .header {
        padding: 20px 15px;

        & > div {
            display: flex;
            justify-content: space-between;
        }

        .title {
            font-size: 49px;
            font-family: 'Ubuntu Condensed';

            span {
                font-family: Roboto Condensed;
                font-weight: 700;
            }
        }

        .title-number {
            font-size: 38px;
            font-family: 'Roboto';
        }

        .description {
            font-size: 40px;
            font-family: 'Roboto';
        }
    }

    .content {
        padding: 20px 15px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .dinamic-number {
            display: flex;
            justify-content: space-between;
    
            &.blue {
                .number-2,
                .number-3 {
                    color: #2386EC;
                }
    
                svg {
                    stroke: #2386EC;
                }
            }
    
            &.red {
    
                .number-2,
                .number-3 {
                    color: #E73932;
                }
    
                svg {
                    stroke: #E73932;
                }
            }
    
            .number-1 {
                font-family: 'Roboto';
                font-size: 47px;
                margin-bottom: 10px;
            }
    
            .number-2 {
                font-family: 'Roboto';
                font-size: 41px;
                display: flex;
                align-items: center;
                gap: 20px;
            }
    
            .number-3 {
                font-family: 'Roboto Condensed';
                font-size: 53px;
            }
        }

        .data {
            font-family: 'Microsoft Sans Serif';
            font-size: 40px;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            font-family: 'Microsoft Sans Serif';
            font-size: 42px;

            .grid-item {
                display: flex;
                justify-content: space-between;

                &.item-1,
                &.item-3 {
                    padding-right: 120px;
                }
            }
        }
    }
}